<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Get Your Weather</title>
    </head>
    <body>
        <h1>Get Your Weather</h1>
        <form method="get" action="http://localhost/api/weather">
            <div>Enter your country and city.</div><br>
            <label for="country">Country code (US, RU, etc.):</label><br>
            <input type="text" name="country"><br>
            <label for="city">City:</label><br>
            <input type="text" name="city"><br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
